@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Inter;
}
body{
    background-color: rgb(41, 41, 41);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* HEADER */
header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#barreDeNav{
    width: 50%;
}

#barreDeNav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

#panierEnHaut{
    display: flex;
}

.nbArticleContainer{
    position: absolute;
    background-color: red;
    padding: 1px 4px;
    border-radius: 100%;
    font-size: 8px;
    transform: translateX(18px);
}

.lienNavBar{
    text-decoration: none;
}

/* Page principal */
.titreArticleContainer{
    text-align: center;
}

.articleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:70%;
}

.listArticle{
    margin-top: 30px;
    display: flex;
    height: 100%;  
    width: 100%;
    justify-content: center; 
    flex-wrap: wrap;
}

.article{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 2%;
    margin-right: 2%;
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.articleImg{
    width: 100%;
    height: 50%;
    cursor: pointer;
}

.articleTitre{
    text-align: center;
    cursor: pointer;
}

.articleListGenre{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.genre{
    background-color: #575757;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
    font-size: 10px
}

.genrePlay{
    background-color: #1831a2;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
}

.articlePrix{
    font-weight: bolder;
    font-size: 15px;
}

.bouton{
    width: 100%;
    display: flex;
    justify-content: center;
}

.articleButtonAjouterPanier{
    background-color: #22651b;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px
    
}

/* Modal */
#modal {
    display: none;
  }
  
  #modal.visible {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
  }
  
  #modalDesc{
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
  }

  #titreJeuxModal{
    font-size: 30px;
    margin-bottom: 6%;
  }

  #descJeuxModal{
    text-align: center;
    margin-bottom: 6%;
  }

  #prixJeuModal{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 6%;
  }

  .articleButtonAjouterPanierModal{
    background-color: #22651b;
    width: 50%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #modal img {
    max-width: 80%;
    max-height: 80%;
  }

  
/* Fin modal */

/* FIN Page principal */

/* Page Panier */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.listArticlePanier{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: #303030;
    padding: 3%;
    border-radius: 20px;
}

.articlePanier{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding-right: 3%;
    background-color: #272727;
    margin-bottom: 10px;
    margin-top: 10px;
}

.imagesArticlePanier{
    width: 15%;
}

.supressionPanier{
    color: rgb(255, 118, 118);
}

.recapCart{
    margin-top: 30px;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.textRecap{
    font-weight: bold;
    font-size: 23px;
}

.checkout{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.buttonCheckout{
    width: 50%;
    background-color:#22651b;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.buttonContinue{
    margin-top: 10px;
    font-weight: normal;
    text-decoration: underline;
}